div.article-gallery.OneDB.light {
    height: 290px !important;
}

div.article-gallery.OneDB {
    position: relative;
    display: block;
    margin: 0px auto 0px auto;
    padding: 0;
    height: 480px;
    background-color: #333;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    
    min-width: 280px;
    cursor: default;
}

div.article-gallery.OneDB > div.overlay {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 190px;
    top: 5px;
    background-color: black;
    overflow: hidden;
    display: block;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.article-gallery.OneDB.light > div.overlay {
    bottom: 5px;
}

div.article-gallery.OneDB > div.overlay > div.content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.article-gallery.OneDB div.prev-item,
div.article-gallery.OneDB div.next-item {
    width: 128px;
    height: 128px;
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    top: 0px;
    
    opacity: 0.1;
    
    visibility: hidden;
    
    z-index: 300;
}

div.article-gallery.OneDB div.prev-item:hover,
div.article-gallery.OneDB div.next-item:hover {
    opacity: 1;
    cursor: pointer;
}

div.article-gallery.OneDB div.prev-item {
    background-image: url(OneDB_Gallery/prev-item.png);
    left: 10px;
}

div.article-gallery.OneDB div.next-item {
    background-image: url(OneDB_Gallery/next-item.png);
    right: 10px;
}

div.article-gallery.OneDB div.captions {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0px;
    display: block;
    background-image: url(OneDB_Gallery/bg.png);
    background-repeat: repeat;
    
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    z-index: 200;
    color: white !important;
    text-align: center;
    
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    overflow: hidden;
}

div.article-gallery.OneDB div.captions * {
    color: white !important;
}

div.article-gallery.OneDB div.overlay:hover div.next-item,
div.article-gallery.OneDB div.overlay:hover div.prev-item {
    visibility: visible;
}

div.article-gallery.OneDB div.overlay:hover div.captions p {
    display: block;
}

div.article-gallery.OneDB div.captions h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    text-align: center;
    margin: 4px auto 5px auto;
}

div.article-gallery.OneDB div.captions p {
    margin: 0px auto 0px auto;
    text-align: center;
    color: #ddd;
    font-family: Arial;
    font-size: 12px;
    display: none;
}

div.article-gallery.OneDB > div.overlay > div.content > div.description {
    display: block;
    margin: 0px auto 0px auto;
}

div.article-gallery.OneDB > div.overlay > div.content.loading {
    background-repeat: no-repeat;
    background-image: url(OneDB_Gallery/loading.gif);
    background-position: 50% 50%;
}

div.article-gallery.OneDB > div.overlay > div.content > img {
    display: block;
    border: 0;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


div.article-gallery.OneDB > div.track {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;

    height: 180px;
    background-color: #333;
    display: block;

    overflow: hidden;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

div.article-gallery.OneDB.light > div.track {
    display: none;
}

div.article-gallery.OneDB > div.track > div {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

div.article-gallery.OneDB > div.track > div > div.left,
div.article-gallery.OneDB > div.track > div > div.right {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    position: absolute;
    top: 62px;
    
    z-index: 100;
    
    background-color: white;
    padding: 5px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

div.article-gallery.OneDB > div.track > div > div.left {
    background-image: url(OneDB_Gallery/left.png);
    left: 5px;
}

div.article-gallery.OneDB > div.track > div > div.right {
    background-image: url(OneDB_Gallery/right.png);
    right: 5px;
}

div.article-gallery.OneDB > div.track > div > div.left:hover,
div.article-gallery.OneDB > div.track > div > div.right:hover {
    cursor: pointer;
}

div.article-gallery.OneDB > div.track > div > div.mobile {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: block;
    white-space: nowrap;
    /* background-color: red; */
}

div.article-gallery.OneDB > div.track > div > div.mobile > div {
    display: block;
    margin: 0;
    padding: 0;
    width: 140px;
    height: 180px;
    /* background-color: blue; */
    float: left;
    position: relative;
    
    /* opacity: 0.5; */
}

div.article-gallery.OneDB > div.track > div > div.mobile > div.current {
    opacity: 1;
    background-color: white !important;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.article-gallery.OneDB > div.track > div > div.mobile > div > div {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-family: Arial;
    font-size: 11px;
}

div.article-gallery.OneDB > div.track > div > div.mobile > div > div.img {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 50px;
    /* background-color: black; */
    display: block;
    overflow: hidden;
    text-align: center;
}

div.article-gallery.OneDB > div.track > div > div.mobile > div > div.img > img {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.article-gallery.OneDB > div.track > div > div.mobile > div > div.cap {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 40px;
    background-color: black;
    display: block;
    color: white !important;
    text-align: center !important;
    overflow: hidden;
    white-space: normal;
}

div.article-gallery.OneDB > div.track > div > div.mobile > div > div.cap > span {
    display: block;
    color: white !important;
    text-align: center !important;
}

div.mobile > div.video > div.sticker {
  position: absolute;
  top: 94px;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 14px;
  display: block;
  background-image: url(OneDB_Gallery/video-item.png);
}