.BFS_View {
    display: block;
    position: absolute;
    left: 202px;
    bottom: 35px;
    top: 35px;
    right: 0px;
    background-color: #ddd;
}

.BFS_View > .body {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: auto;
    overflow-y: scroll;
    -webkit-user-select: none;
}

.BFS_View .icon {
    display: block;
    background-repeat: no-repeat;
    cursor: default;
    position: absolute;
    left: 0px;
    top: 0px;
}

.BFS_View.medium .icon {
    width: 100px;
    height: 30px;
    color: white;
    background-position: 50% 10px;
    padding-top: 80px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    outline: 1px solid black;
    color: black;
}

.BFS_View.large .icon {
    width: 140px;
    height: 30px;
    color: white;
    background-position: 50% 10px;
    padding-top: 150px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    outline: 1px solid black;
    color: black;
}