body {
    background-color: #ddd;
    margin: 0;
}

* {
    font-family: arial;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 5px 0px 5px 0px;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

div#header {
    display: block;
    color: white;
    padding: 10px;
    background-color: black;
    height: 30px;
}

div#menu a {
    color: white;
    text-decoration: none;
}

div#menu a:hover {
    text-decoration: underline;
}

div#menu {
    position: absolute;
    display: block;
    width: 300px;
    padding: 0;
    margin: 0;
    background-color: #333;
    color: white;
    left: 0px;
    bottom: 0px;
    top: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

div#menu > h2 {
    border-bottom: 1px solid white;
}

div#menu h3 {
    font-style: italic;
}

div#menu ul {
    padding-left: 20px;
}

div#menu > ul {
    list-style-type: none;
    padding-left: 10px;
}

div#menu ul > li {
    margin-left: 0;
}

div#menu > * {
    padding: 0px 10px 0px 10px;
}

div#content {
    display: block;
    margin: 0;
    background-color: white;
    color: black;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 300px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

div#content > div {
    display: block;
    padding: 10px;
    position: relative;
}